*,
*::before,
*::after {
  font-family: inherit;
  box-sizing: border-box;
}

html {
  font-size: 1rem;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: #333;
  background-color: #f4f4f4;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.15rem;
}

li,
.task-input,
.list-header,
.edit-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

label {
  padding: 0 0.8rem;
}

div {
  padding: 0;
  margin: 0;
}

h1 {
  padding: 0;
  margin: 0;
  font-size: 1rem;
}

p {
  padding: 0;
  margin: 0;
}

form {
  display: flex;
  align-items: center;
  padding: 0 1.5rem 0 0;
  margin: 0;
  background-color: white;
  border-radius: 0.5rem;
}

button {
  border: none;
  background-color: rgb(211, 211, 211);
}

[type="checkbox"]:checked + label {
  opacity: 0.5;
  text-decoration: line-through;
  color: rgb(28, 112, 28);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding: 0 5rem;
  margin: auto;
  padding-top: 8rem;
  gap: 0.15rem;
  max-width: 50rem;
}

.list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.refresh-icon {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  transform: rotate(45deg);
}

.task-input {
  border: none;
  outline: none;
  font-size: 1rem;
  width: 100%;
}

.enter-key {
  text-align: center;
}

.btn {
  width: 100%;
}

.edit-input {
  border: none;
  outline: none;
  font-size: 1rem;
  width: 100%;
  padding: 0;
  margin: 0;
  margin-left: 0.8rem;
  background-color: inherit;
}

.clear-button {
  display: flex;
  justify-content: center;
  cursor: pointer;
  width: 100%;
  border-radius: 0.5rem;
  height: 100%;
  padding: 0.5rem 1rem;
}

.clear-button:hover {
  background-color: rgb(155, 193, 162);
}

.more-icon {
  font-size: 1rem;
  padding: 0 0.5rem;
  margin: 0;
  cursor: pointer;
  background-color: inherit;
  transition: all  0.2s;
}

.more-icon:hover {
  transform: scale(1.5);
  color: rgb(76, 201, 99);
}

.more-icon.del-btn {
  margin: 0;
  padding: 0;
  padding: 0 0.28rem;
}

.task-desc {
  cursor: pointer;
}

.yellow-tag {
  background-color: #fff8c0;
}

.disappear {
  display: none;
}

.appear {
  display: block;
}
